.radix-themes {
  --default-font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --heading-font-family: 'Merriweather Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  --active-color: #313A5B;
  --text-color: #313A5B;
}

.rt-Text,
.rt-Link {
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  color: var(--active-color);
}

.rt-Text:where([data-accent-color]) {
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  color: var(--active-color);
}

.rt-Heading {
  font-family: 'Merriweather Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  color: var(--active-color);
}
