:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  line-height: 1.5;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

:root,
.light,
.light-theme {
  --blue-1: #2e3758;
  --blue-2: #2e3758;
  --blue-3: #2e3758;
  --blue-4: #2e3758;
  --blue-5: #2e3758;
  --blue-6: #2e3758;
  --blue-7: #2e3758;
  --blue-8: #2e3758;
  --blue-9: #2e3758;
  --blue-10: #2e3758;
  --blue-11: #2e3758;
  --blue-12: #2e3758;

  --blue-a1: #2e375809;
  --blue-a2: #2e37580c;
  --blue-a3: #2e375816;
  --blue-a4: #2e375824;
  --blue-a5: #2e375834;
  --blue-a6: #2e375846;
  --blue-a7: #2e37585d;
  --blue-a8: #2e37587d;
  --blue-a9: #2e3758ca;
  --blue-a10: #2e3758be;
  --blue-a11: #2e3758ba;
  --blue-a12: #2e3758cd;

  --blue-contrast: #fff;
  --blue-surface: #dfe1e6cc;
  --blue-indicator: #313a5b;
  --blue-track: #313a5b;
}


:root,
.light,
.light-theme,
.radix-themes {
  --color-background: #eaecf4;
}
